<!DOCTYPE html>
<html>
  <body>
  
  <h2>Credit Score Classifier</h2>
  
  <form method="POST" action="/">
    Credit Mix (bad: 0, standard: 1, good: 2):<br>
    <input type="number" name="Credit_Mix" value=1>
    <br><br>
    Outstanding Debt:<br>
    <input type="number" name="Outstanding_Debt" value=2000>
    <br><br>
    Interest Rate(%):<br>
    <input type="number" name="Interest_Rate" value=1>
    <br><br>
    Payment of Minimum Amount (No: 0 Yes: 1):<br>
    <input type="number" name="Payment_of_Min_Amount" value=1>
    <br><br>
    Number of Credit Inquiries:<br>
    <input type="number" name="Num_Credit_Inquiries" value=3>
    <br><br>
    Delay from Due Date:<br>
    <input type="number" name="Delay_from_due_date" value = 3>
    <br><br>
    <input type="submit" value="Submit">
  </form>

  {% if pred %}
  <p>The credit category is {{ category }}, with probability {{ pred }}</p>
  {% endif %}

  </body>
</html>
